<!DOCTYPE html>
<html>
<head>
  <title>Welcome to SunShine </title>
  <style>
    body {
      background-color: #f1f1f1;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    .button {
      display: block;
      width: 200px;
      padding: 15px;
      background-color: black;
      color: white;
      text-decoration: none;
      font-size: 18px;
      margin: 10px auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Welcome to BeastMode</h1>
    <a href="/register" class="button">SignUp</a>
    <a href="/login" class="button">Login</a>
  </div>
</body>
</html>
